@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);
}

.chatbot-popup{
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.chatbot-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #2369b8dc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.chatbot-header .header-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-info .chat-logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2369b8dc;
    flex-shrink: 0;
}
.chatbot-header #close-chatbot{
    border: none;
    background: none;       
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    flex-shrink: 0;
    font-size: 1.9rem;
}
#close-chatbot:hover{
    background-color: #fff;
    color: #2369b8dc;
    fill: #2369b8dc;
}
